[Unit]
Description=Watchers file monitoring service for %i
After=network.target

[Service]
Type=simple
ExecStart={} __daemon %i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
